.navbar-container {
  background-color: #4b3160;
  width: 219px;
  display: flex;
  flex-direction: column;
}

.linkSelected {
  background-color: #8a3ab0;
}

.navbar-options {
  display: flex;
  flex-direction: row;
  color: #fff;
  align-items: center;
  cursor: pointer;
}

.navbar-options:hover {
  background-color: #8a3ab0;
}

.options {
  margin: 5px 10px 0px 10px;
}

/* -------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 940px) {
  .navbar-container {
    background-color: #4b3160;
    width: 219px;
    display: flex;
    flex-direction: column;
  }
}
