.wrapper {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu main main main main main"
    "menu main main main main main ";
}

.wrapper > div {
  text-align: center;
  background-color: #c7c8ca;
  font-size: 18px;
}

.one {
  grid-area: header;
}
.two {
  grid-area: menu;
}
.three {
  grid-area: main;
}

.input {
  font-size: 24px;
  border: 1px solid #c7c8ca;
  height: 42px;
  width: 284px;
  padding: 12px 20px;
  margin: 8px;
  box-sizing: border-box;
  margin-right: 20px;
  outline: none;
  border-radius: 4px;
}

select {
  font-size: 24px;
  height: 62px;
  width: 356px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.inputsgrp1 {
  padding-top: 25px;
  display: grid;
}
.inputsgrp2 {
  padding-top: 25px;
  display: grid;
  align-self: flex-start;
  row-gap: 50px;
}
.block {
  text-align: left;
  margin: 25px 50px 55px 0px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  height: auto;
  border-radius: 5px;
}
.blockformularios {
  text-align: center;
  margin: 25px 50px 55px 0px;
  background-color: white;
  display: grid;
  justify-content: space-around;
  height: auto;
  border-radius: 5px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn {
  background-color: #d9d9d9;
  color: rgb(0, 0, 0);
  border: none;
  width: 228px;
  height: 49px;
  margin-right: 80px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  font-size: 16px;
  align-items: center;
}

.fa {
  color: white;
}

.btn:hover {
  background-color: rgb(196, 194, 194);
}

.cuadroselect {
  padding-top: 50px;
}

.formularioscuadro2 {
  display: inline-flex;
  column-gap: 450px;
}

.formsinputs {
  padding: 45px;
  display: grid;
}

.buttonsforms {
  display: grid;
  align-self: flex-start;
  row-gap: 30px;
}

.btnFormsBlue {
  color: rgb(0, 0, 0);
  border: none;
  width: 81px;
  background-color: #00abfb;
  height: 78px;
  margin-right: 80px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  align-items: center;
}

.btnFormsBlue:hover {
  background-color: #066c9b;
}

.btnFormsOrange {
  color: rgb(0, 0, 0);
  border: none;
  width: 81px;
  background-color: #ff9300;
  height: 78px;
  margin-right: 80px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  align-items: center;
}

.btnFormsOrange:hover {
  background-color: #a15f03;
}

.btnFormsRed {
  color: rgb(0, 0, 0);
  border: none;
  width: 81px;
  background-color: #ff0000;
  height: 78px;
  margin-right: 80px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  align-items: center;
}

.btnFormsRed:hover {
  background-color: #860303;
}

/* -------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 1280px) {
  .block {
    text-align: left;
    margin: 25px 25px 55px 0px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    height: auto;
    border-radius: 5px;
  }

  /* .blockformularios {
    text-align: center;
    margin: 25px 50px 55px 0px;
    background-color: white;
    display: grid;
    justify-content: space-around;
    height: auto;
    border-radius: 5px;
  } */

  select {
    font-size: 20px;
    height: 62px;
    width: 356px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }  

  .input {
    font-size: 20px;
    border: 1px solid #c7c8ca;
    height: 42px;
    width: 284px;
    padding: 12px 20px;
    margin: 8px;
    box-sizing: border-box;
    margin-right: 20px;
    outline: none;
    border-radius: 4px;
  }

  .btn {
    background-color: #d9d9d9;
    color: rgb(0, 0, 0);
    border: none;
    width: 228px;
    height: 49px;
    margin-right: 70px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    font-size: 14px;
    align-items: center;
  }

  .btnFormsBlue {
    color: rgb(0, 0, 0);
    border: none;
    width: 81px;
    background-color: #00abfb;
    height: 78px;
    margin-right: 80px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    align-items: center;
  }
}

/* -------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 940px) {
  .block {
    text-align: left;
    margin: 25px 0px 55px 20px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    height: auto;
    border-radius: 5px;
  }

  .input {
    font-size: 16px;
    border: 1px solid #c7c8ca;
    height: 42px;
    width: 204px;
    padding: 12px 20px;
    margin: 8px;
    box-sizing: border-box;
    margin-right: 10px;
    outline: none;
    border-radius: 4px;
  }

  .btn {
    background-color: #d9d9d9;
    color: rgb(0, 0, 0);
    border: none;
    width: 228px;
    height: 49px;
    margin-right: 70px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    font-size: 14px;
    align-items: center;
  }
}
